<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Let's Get Ready to Pump You Up</title>
</head>
<body>
	{{{body}}}
	<script src="/javascript/script.js" type="text/javascript"></script>
</body>
</html>
