.navbar-brand, .navbar{
	padding-top: 0;
	background-color: #e6001f;
	padding-left: 0;
}
.navbar-nav .nav-link{
	padding-left: 16px;
}
.carousel{
	margin: 0 auto;
}
body{
	background-color: #1791ff;
}

footer{
/*	height: 12em;
*/	padding-top: 30px;
	background-color: #b45b32;
}

.jumbotron {
	color: white;
	margin:0;
	background: url("img/StoreFrontS.png");
	background-size: cover;
	height:100%;
	min-height: 740px;
}

.scrollbox {
	border: 1px solid #000000;
	background-color: #d6d6be;
	overflow: scroll;
	height:25em;
	border-radius: 50px;
	margin-bottom: 20px;
}
#map {
	background-color: grey;
}

i.fas, i.fab {
    color: black;
 }

 footer p {
 	text-align: right;
 	margin-bottom: 0;
 }


#workers .card:nth-child(2n) .card-header, #workers .card:nth-child(2n) .card-body h5{
	text-align: right;
}

* {
	font-family: 'Press Start 2P', cursive;
}
