<h1>Good Job on Working Out!</h1>

<form id="addItem" method="post">
  <fieldset>
    <legend>Add a workout to your list</legend>
    <label for="name">Exercise Name: </label><input type="text" name="name" id="exerciseName">
    <label for="reps">Reps:</label><input type="number" name="reps" id="exerciseReps">
    <label for="weight">Weight: </label><input type="number" name="weight" id="exerciseWeight">
    <label for="date">Date: </label><input type="date" name="date" id="exerciseDate">
    <select name="unit" id="unit">
      <option value="1">lb</option>
      <option value="0">kg</option>
    </select>
    <input id="add" type="submit" name="Add Item" value="Add Item">
  </fieldset>
</form>

<button href="home">Click me</button>

<table id="table">
  <thead>
    <tr>
      <th>Exercise Name</th>
      <th>Weight</th>
      <th>Reps</th>
      <th>Date</th>
      <th>Units</th>
    </tr>
  </thead>
  <tbody id="tableBody">

  </tbody>
</table>
